body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

